*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    width: 100%;
}

.todos-bg{
    background-color: lightblue;
}

header{
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

h1, h2{
    color: cadetblue;
    text-align: center;
}

h2{
    text-decoration: overline;
}

img{
    width: 200px;
    margin: 0 auto;
    display: block;
    
}

.relative-one{
    position: relative;
}

.relative-two{
    position: relative;
    top: 30px;
}

.container{
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#forms{
    padding: 2rem;
    background-color: lightblue;
}

.container.todos{  
    padding: 0;
} 

#forms input,button{
    display: block; 
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(59, 114, 116);
}

#forms input[type='submit'], button[type='submit']{
    background-color: cadetblue;
    color: white;
} 

#forms span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: .9rem;
    color: cadetblue;
}

#forms a{
    color: cadetblue;
}

.bottom-link a{
    display: block;
    text-align: center;
    color:rgb(59, 114, 116); 
    font-size: .9rem;
}

ul{
    border: 1px solid rgb(59, 114, 116);
    background-color: white;
    padding: 2rem;
    width: 80%;
    margin: 1rem auto;
    margin-bottom: 2rem;
    border-radius: 5px;
    list-style: none;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}


@media only screen and (max-width: 500px) {
    .container {
      width: 100%;
    }
  } 
  